

body {
/*     color: DarkGreen;*/
    color: black;
    background-color: MintCream;
}


p:hover {
    background-color: GhostWhite;
}


ul:hover {
    background-color: GhostWhite;
}


a:link {
    color: DarkGreen;
}

a:hover {
    color: Peru;
    background-color: AliceBlue;
}

pre {
    background-color: AliceBlue;
}


